.fade-enter, .fade-leave-to{
  opacity: 0;
}
.fade-leave, .fade-enter-to{
  opacity: 1;
}
.fade-enter-active, .fade-leave-active{
  transition: all .2s linear;
}

.login-enter, .login-leave-to{
  opacity: 0;
  transform: scale(0.5,0.5)
}
.login-leave, .login-enter-to{
  opacity: 1;
  transform: scale(0,0);
}
.login-enter-active, .login-leave-active{
  transition: all .2s linear;
}